<h1>Log In</h1>

<% if flash[:alert] %>
  <div class="alert alert--error"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert--notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: session_path, class: "form" do |form| %>
  <div class="form__field">
    <%= form.label :email_address, "Email Address", class: "form__label" %>
    <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        placeholder: "Enter your email address",
        value: params[:email_address],
        class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.label :password, "Password", class: "form__label" %>
    <%= form.password_field :password,
        required: true,
        autocomplete: "current-password",
        placeholder: "Enter your password",
        maxlength: 72,
        class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.submit "Sign in", class: "button button--primary" %>
  </div>
<% end %>

<p><%= link_to "Forgot password?", new_password_path %></p>
