<article class="<%= item.css_class %>">
  <div class="news-item__icon <%= item.icon_class %>">
    <%= item.icon_emoji %>
  </div>

  <div class="news-item__content">
    <h3 class="news-item__headline"><%= item.headline %></h3>

    <% if item.body.present? %>
      <p class="news-item__body"><%= item.body %></p>
    <% end %>

    <div class="news-item__meta">
      <%= item.formatted_time %>
      <% if item.metadata[:affected_tags]&.any? %>
        · Affects: <%= item.metadata[:affected_tags].join(', ') %>
      <% end %>
    </div>
  </div>
</article>
