<h1>Forgot your password?</h1>

<% if flash[:alert] %>
  <div class="alert alert--error"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert--notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: passwords_path, class: "form form--narrow" do |form| %>
  <div class="form__field">
    <%= form.label :email_address, "Email Address", class: "form__label" %>
    <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        placeholder: "Enter your email address",
        value: params[:email_address],
        class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.submit "Email reset instructions", class: "button button--primary" %>
  </div>
<% end %>
